In [1]:
import pandas as pd
import random
import json
import config
import psycopg2 as pg
import numpy as np

In [6]:
conn = pg.connect(f"host = {config.host} port = {config.port} dbname={config.db} user={config.user} "
                  f"password={config.password}")
CMD = f'select * from "VF-2_1" where "Power-on Time (total)" IS NOT NULL order by "Year, month, day" desc, "Power-on Time (total)" desc'
df = pd.read_sql_query(CMD, conn)
df.replace([None], np.nan, inplace=True)

In [7]:
df = df[df['Year, month, day'] == '211130.0']

In [9]:
df2 = df[['Present machine coordinate position X', 'Present machine coordinate position Y', 'Present machine coordinate position Z']]

In [10]:
x = df2['Present machine coordinate position X'].tolist()
y = df2['Present machine coordinate position Y'].tolist()
z = df2['Present machine coordinate position Z'].tolist()

In [11]:
x = [float(i) for i in x]
y = [float(i) for i in y]
z = [float(i) for i in z]

In [15]:
d = pd.DataFrame()
d['X'] = x 
d['Y'] = y
d['Z'] = z

In [16]:
d = d.drop_duplicates()

In [17]:
d.to_csv('Coordinates.csv')

In [14]:
type(x[1])

float

In [18]:
d

           X       Y       Z
0   -14.9819  0.0000 -0.0003
24  -14.9819  0.0000  0.0000
98  -14.9819 -1.2854  0.0000
99  -16.1822 -4.5183  0.0000
100 -20.4342 -4.5183  0.0000
..       ...     ...     ...
299 -14.0854 -8.2863 -6.5685
300 -13.8317 -8.2863 -6.5685
301 -13.5780 -8.2863 -6.5685
302 -13.3243 -8.2863 -6.5685
303 -13.0768 -8.2863 -6.5685

[208 rows x 3 columns]