In [2]:
import pandas as pd
import random
import json
import config
import psycopg2 as pg
import numpy as np

In [3]:
conn = pg.connect(f"host = {config.host} port = {config.port} dbname={config.db} user={config.user} "
                  f"password={config.password}")
CMD = f'select * from "VF-2_1" where "Power-on Time (total)" IS NOT NULL order by "Year, month, day" desc, "Power-on Time (total)" desc'
df = pd.read_sql_query(CMD, conn)
df.replace([None], np.nan, inplace=True)

In [7]:
df2 = df[['Present machine coordinate position X', 'Present machine coordinate position Y', 'Present machine coordinate position Z']]

In [26]:
x = df2['Present machine coordinate position X'].tolist()
y = df2['Present machine coordinate position Y'].tolist()
z = df2['Present machine coordinate position Z'].tolist()

In [27]:
x = [float(i) for i in x]
y = [float(i) for i in y]
z = [float(i) for i in z]

In [28]:
d

           x     y       z
0     -15.00 -8.05 -0.0001
1     -15.00 -8.05 -0.0001
2     -15.00 -8.05 -0.0001
3     -15.00 -8.05 -0.0001
4     -15.00 -8.05 -0.0001
...      ...   ...     ...
21191 -16.05  0.00  0.0951
21192 -16.05  0.00 -0.0002
21193 -16.05  0.00  0.0007
21194 -16.05  0.00  0.0000
21195 -16.05  0.00  0.0000

[21196 rows x 3 columns]